{% extends 'base.html' %} {% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm">
      <h3>{{g.user.username}}'s Compositions</h3>
      {% for comp in own_comps %}
      <div><a href="/teambuilder/{{comp.id}}">{{comp.name}}</a></div>
      {% endfor %}
      <a href="/teambuilder" class="btn btn-lg btn-info mr-2"> Team Builder </a>
    </div>
    <div class="col-sm justify-content-center">
      <h3>{{g.user.summoner_name}}'s Game History</h3>
      {% if error %}
      <h4>{{error}}</h4>
      {% endif %}
      <div id="recent-games">
        <div class="row">
          <div class="col-6">
            <h5>Length</h5>
            {% for match in match_data %}
            <div class="col-6">{{match['game_length']}}</div>
            {% endfor %}
          </div>
          <div class="col-6">
            <h5>Placement</h5>
            {% for match in match_data %} {% if match['placement'] >= 4 %}
            <div class="text-danger text-center">{{match['placement']}}</div>
            {% else %}
            <div class="text-success text-center">{{match['placement']}}</div>

            {% endif %} {% endfor %}
          </div>
          <div class="col-6"></div>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <h3 class="text-center">Recent Compositions</h3>
      {% for comp in recents %}
      <div class="text-center">{{comp.name}}</div>
      {% endfor %}
      <!-- <a href="/stats_explorer" class="btn btn-lg btn-info"> Stat Explorer</a> -->
    </div>
  </div>
</div>
<script type="module" src="static/scripts/recentGames.js"></script>
<script src="https://unpkg.com/axios/dist/axios.js"></script>
{% endblock %}
