{% extends 'base.html' %} {% block content %}

<div class="row justify-content-md-center">
  <div class="col-8">
    <h2 class="join-message mt-4 ml-4">Welcome back!</h2>
    <h5 class="ml-4">Are you ready to create some compositions?</h5>

    <form
      method="POST"
      id="user_form"
      class="bg-light border border-primary container rounded"
    >
      {{ form.hidden_tag() }} {% for field in form if field.widget.input_type !=
      'hidden' %} {% for error in field.errors %}
      <span class="text-danger">{{ error }}</span>

      {% endfor %}
      <label class="m-2"> {{field.label.text}}:</label>
      {{ field(placeholder=field.label.text, class="form-control mb-1") }} {%
      endfor %}

      <button class="btn btn-success btn-block m-1 btn">Log in</button>
    </form>
  </div>
</div>

{% endblock %}
